db.sqlite3
heat_factor/Test membership numbers.txt
.vscode/launch.json
.vscode/settings.json
.vscode/*
.vscode/
heat_factor/README.md
README.md
heat_factor_project/settings_dev.py
__pycache__/
*.py[cod]
heat_factor/staticfiles
heat_factor/staticfiles/
heat_factor/staticfiles/*
staticfiles
staticfiles/