db.sqlite3
heat_factor/__pycache__
heat_factor/__pycache__/\*
heat_factor/classificationwhatif_ref.py
heat_factor/Test membership numbers.txt
heat_factor/classificationwhatif_old.py
.vscode/launch.json
.vscode/settings.json
.vscode/settings.json
.vscode/*
.vscode/
heat_factor/README.md
README.md
heat_factor_project/settings_dev.py