[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
matplotlib = "==3.2.1"
numpy = "==1.18.5"
bs4 = "==0.0.1"
requests = "==2.23.0"
lxml = "==4.5.0"
gunicorn = "==20.0.4"
whitenoise = "==5.0.1"
pandas = "==1.1.0"
urllib3 = "==1.25.8"
django-heroku = "==0.3.1"
aiohttp = "==3.6.2"
asgiref = "==3.2.10"
async-timeout = "==3.0.1"
asyncio = "==3.4.3"
attrs = "==19.3.0"
beautifulsoup4 = "==4.8.2"
certifi = "==2019.11.28"
chardet = "==3.0.4"
dj-database-url = "==0.5.0"
idna = "==2.9"
kiwisolver = "==1.2.0"
multidict = "==4.7.5"
psycopg2 = "==2.8.4"
pyparsing = "==2.4.6"
python-dateutil = "==2.8.1"
pytz = "==2019.3"
six = "==1.14.0"
soupsieve = "==2.0"
sqlparse = "==0.3.1"
yarl = "==1.4.2"
Django = "==3.1.1"
Cycler = "==0.10.0"
Pillow = "==7.2.0"

[requires]
python_version = "3.8"
