[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
asgiref = "*"
async-timeout = "*"
asyncio = "*"
attrs = "*"
beautifulsoup4 = "*"
bs4 = "*"
certifi = "*"
chardet = "*"
cycler = "*"
dj-database-url = "*"
django = "*"
django-admin-honeypot = "*"
django-filter = "*"
django-heroku = "*"
djangorestframework = "*"
flake8 = "*"
gunicorn = "*"
idna = "*"
kiwisolver = "*"
lxml = "*"
markdown = "*"
matplotlib = "*"
mccabe = "*"
multidict = "*"
numpy = "*"
pandas = "*"
pillow = "*"
psycopg2 = "*"
pycodestyle = "*"
pyflakes = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
six = "*"
soupsieve = "*"
sqlparse = "*"
urllib3 = "*"
whitenoise = "*"
yarl = "*"

[requires]
python_version = "3.1"
