aiohttp
asgiref
async-timeout
asyncio
attrs
beautifulsoup4
bs4
certifi
chardet
cycler
dj-database-url
Django
django-admin-honeypot
django-filter
django-heroku
djangorestframework
flake8
gunicorn
idna
kiwisolver
lxml
Markdown
matplotlib
mccabe
multidict
numpy
pandas
Pillow
psycopg2
pycodestyle
pyflakes
pyparsing
python-dateutil
pytz
requests
six
soupsieve
sqlparse
urllib3
whitenoise
yarl
