<!DOCTYPE html>

{% block content %} {% load static %}
<html>
    <head>
        <title>www.alphamikenoshoot.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
            rel="stylesheet"
        />
        <link href="{% static 'css/base.css' %}" rel="stylesheet" />
        <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" />
    </head>
    <body>
        <center>
            <img
                src="{% static 'images/gridiron_1.png' %}"
                width="250"
                height="250"
            />
        </center>
        <div class="stripe">
            <center>
                <h2>Grid Iron Team Calculator</h2>
            </center>
        </div>
        <form name="myForm" action="/grid_iron_results/" method="POST">
            {% csrf_token %}
            <h3>{{ p_url.as_p }}</h3>
            <br />
            <input
                class="btn"
                id="heatfactor"
                type="submit"
                value="Make Ready"
            />
            <div class="cf_msg" id="checkform"></div>
        </form>
        <div id="spinner"></div>
        <br />
        <hr />
        <b>
            Contact:
            <a class="home" href="mailto:heat.factor.app@gmail.com"
                >Heat Factor App</a
            >
        </b>
        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script>
            window.JQuery ||
                document.write(
                    '<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"><\/script>'
                );
        </script>
        <script src="{% static 'js/checkform.js' %}"></script>
    </body>
</html>
{% endblock content %}
