{% extends "base.html" %}


{% block content %}
<div style="background-color:lightblue">
  <center>
  <h2>USPSA Heat Factor by Division</h2>
  </center>
</div>
<p>Provides a classification-like number for a division at a match.  Copy-n-paste a Practiscore match URL to see the "Heat Factor" of each division in that match.</p>
    <form action="/heat_factor/" method="post">
      {% csrf_token %}
    <h3>
      {{ practiscore_url_form.as_p }}
    </h3>
      <br>
      <input type="submit" value="Heat Factor">
    </form>
    <br>
    <hr>
<div style="background-color:lightblue">
  <center>
    <h2>Classifation Calculator</h2>
  </center>
</div>
<p>Enter your USPSA membership number and a division you shoot and this will tell what percentage you need on your next classifier to move up a class, if possible.</p>
    <form action="/get_upped/" method="post">
      {% csrf_token %}
    <h3>
      {{ get_upped_form.as_p }}
    </h3>
      <br>
      <input type="submit" value="Get Upped">
    </form>
    <br>
    <hr>

{% endblock content %}
