<!DOCTYPE HTML>
{% extends "base.html" %}


{% block content %}
    <form action="/heat_factor/" method="post">
      {% csrf_token %}
    <h3>
      {{ form.as_p }}
    </h3>
      <br>
      <input type="submit" value="Heat Factor">
    </form>
    <br>
    <hr>
    <h2>Methodology:</h2>
    <p align="justify">
      The Heat Factor App collects the classification information from the Match Breakdown section of a Practiscore.com match URL.  Each shooter is then given a rank based on thier classification.
      <br><br>
      The rankings that are used align with USPSA classifications:<br>
      GM: 95-100<br>
      M: 85-94<br>
      A: 75-84<br>
      B: 60-74<br>
      C, D, U and X class shooters are omitted from the rankings<br>
      <br>
      The rank assigned to a shooter is randomly choosen from within the classification range.  For examle, an "M" class shooter can receive a rank within the 85-94 range.  This random assignment will cause the results to shift slightly each time the app is run for a given match.
      <br><br>
      Once the ranks have been assigned they are totaled per each division and divided by the total number of GM, M, A and B class shooters in the division.  This give the average classification of those shooters and the final results of the Heat Factor.
    </p>
    <br>
      <h2>Disclaimer:</h2>
      <p align="justify">
        Practiscore.com seems to have a few different ways a match can be entered.  These differences may cause the Heat Factor app not to work for a specific match or to produce errouous data.  If a match isn't working for you please email me at the contact email address.  If your Heat Factor is really high, above 85, it's likely there's a problem with the app reading the match data.  Please email the match link to me if this is the case.
      <br><br>
      </p>
{% endblock content %}
