{% extends "base.html" %} {% block content %}
<p align="left"><a href="/">Return Home</a></p>
<div style="background-color:lightblue">
    <center>
        <h2>Match Points Stats</h2>
    </center>
</div>
<center>
    <img src="data:image/png;base64,{{ graph | safe }}">
</center>
<p align="right">
    <font size="2"> {{ date }} </font>
</p>
<hr>
<font color="red">
    <h5><b>The graph takes a few seconds to load, please be patient.<b></h5></font>
    <form action="/points/" method="POST">
      {% csrf_token %}
    <h5>
      {{ accu_stats_form2.as_p }}
    </h5>
      <br>
      <input id="Button1" type="submit" value="Points Stats" style="background-color: #cfcfcf; font-size: 18px">
    </form>
    <br>
 <hr>
 <script type="text/javascript" language="javascript">

    window.onload = function () {
      document.getElementById("Button1").onmouseover = function () {
        this.style.backgroundColor = "#ededed";
      }

      document.getElementById("Button1").onmouseout = function () {
        this.style.backgroundColor = "#cfcfcf";
      }
    }

    </script>

{% endblock content %}