{% extends "base.html" %} {% block content %}
<p align="left"><a href="/">Return Home</a></p>
<div style="background-color:lightblue">
    <center>
        <h2>Match Points Stats</h2>
    </center>
</div>
<center>
    <img src="data:image/png;base64,{{ graph | safe }}">
</center>
<p align="right">
    <font size="2"> {{ date }} </font>
</p>
<hr>
<font color="red">
    <h5><b>The graph takes a few seconds to load, please be patient.<b></h5>
</font>
<form action="/points/" method="POST">
  {% csrf_token %}
  <h5>
    {{ accu_stats_form2.as_p }}
  </h5>
  <br>
  <input class="btn" type="submit" value="Points Stats" style="background-color: #cfcfcf; font-size: 14px">
</form>
<br>
<hr>
<script type="text/javascript" language="javascript">

  window.onload = function () {
    var elms = document.getElementsByTagName('input');

    // search for element with class btn
    for (var i = 0; i < elms.length; i++) {
      if (elms[i].getAttribute('class') === 'btn') {

        elms[i].onmouseover = function () {
          this.style.backgroundColor = '#ededed';
        }

        elms[i].onmouseout = function () {
          this.style.backgroundColor = '#cfcfcf';
        }
      }
    }
  }

</script>

{% endblock content %}