/* static/css/base.css */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}

header h1 a {
    color: red;
    text-decoration: none;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

input[type=submit] {
    padding: 0.25rem 0.5rem;
    border: 3px solid #fefefe;
    border-radius: 7px;
    color: #fefefe;
    background: rgba(0, 0, 0, 0.8);
    font-size: 1.05rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
    font-family: 'Source Code Pro', monospace;